<%include partials/header%>

<div class="ui main text container segment">
	<div class="item">
		<div class="content">
			<h1 class="ui huge header"><%=blog.title%></h1>
			<p class="ui blue ribbon label"><%=blog.created.toDateString()%></p>
			<p></p>
			<img class="ui centered rounded image" src="<%=blog.image%>">
			<p></p>
			<div class="description">
				<p><%-blog.body%></p>
			</div>
			<p></p>
			<div class="ui animated button green basic" tabindex="0">
			  <div class="visible content" >EDIT POST</div>
			  <a class="hidden content" href="/blogs/<%=blog.id%>/edit"><i class="edit icon green"></i></a>
			</div>
			<form id="delete" action="/blogs/<%=blog.id%>?_method=DELETE" method="POST">
				<button class="ui animated button red basic" tabindex="0">
				  <div class="visible content" >DELETE POST</div>
				  <div class="hidden content" ><i class="trash alternate icon red"></i></div>
				</button>
			</form>
		</div>
	</div>
</div>

<%include partials/footer%>